:root {
    --bg-color: #0d0d0d;
    --text-color: #ff3333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.scene {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 800px;
}



.leaves use {
    transform-origin: bottom center;
}

#snow-toggle,
#rain-toggle,
#water-toggle {
    position: absolute;
    right: 20px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 0, 0, 0.63);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    z-index: 100;
}

#snow-toggle {
    top: 20px;
}

#rain-toggle {
    top: 70px;
}

#water-toggle {
    top: 120px;
}

#snow-toggle:hover,
#rain-toggle:hover,
#water-toggle:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: rgba(233, 12, 12, 0.4);
}